body{
    /* background-color: #EAC926; */
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
}


header{
    width: 90vw;    
    margin: auto;
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
      
}



main{
    width: 100%;
    background-color: #ebebeb;   
               
}


/* main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    } */



h1{
    font-size: 24px;
}

.precio{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.dto{
    font-size: 16px;
}

footer{
    font-size: 12px;
    text-align: center;  
}

.burger-menu{
    background-color:#1259c3;;
    width: 45px;
    height: 45px;
    margin: auto;
    color: white;
    border-radius: 15%;
    text-align: center;
    line-height: 45px;

}

section{
    line-height: 1px;
    padding: 10px;

}

.fa-credit-card {
    font-size:xx-large;
    color:#1259c3;;
    padding: 5px;
    
}

.fa-gift {
    font-size:xx-large;
    color:#1259c3;;
    padding: 5px;
    
}

.fa-user-shield{
    font-size:xx-large;
    color:#1259c3;;
    padding: 5px;
    
}

.footer-c{
    border-style:none;
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    
}

.footer-copyright{
    width: 80%;
}

.just{
    background-color:white;
    width: 295px;
    height: 95px;
    margin: auto;
    color: black;
    line-height: 15px;
    text-align: justify;
    }

  

    .delivery .truck-circle{
        background-color: white;
        border: solid 1px green;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding-left: 10px;
        padding-top: 10px; 
        margin: -45px 0px 0px 210px;  
       
           }

    .delivery{
        border-top: solid 1px #ebebeb;
        padding: 25px;
        background-color: white;
        margin-bottom: 20px;
        top: 20rem;
        flex-wrap: wrap;
        display: flex;   
       
       
    }

    .delivery .dto{
        flex-grow: 0.7; 
        /* align-self: flex-start; */
        color: green;
        width: 60%;
        
        }

    .delivery .precio{
        flex-grow: 0.3;
        /* align-self: flex-end; */
      
              
    }

    .delivery .descripcion{
       width: 100%;

    }

    
    

    /* ########################### Media Quieries ##################### */

    /* Navegación en móviles */
    @media(min-width: 360px){
        /* .delivery descripcion{
            color: white;                      
        } */

        .burger-menu{
            /* border: solid 2px violet; */
            margin-top: 8px;
        }

        .header-principal{
            display: flex;
            flex-direction: column;
        }

       .home-header{
           display: flex ;
           flex-wrap: wrap;
           flex-direction: column;
           position: absolute;
           top: 0;
           margin-bottom: 2px;
                             
       }

       .search-container{
           /* border: solid 2px red; */
           display: flex;
           justify-content:center;
           height: 2%;
          
                            
       }

     /* .header-principal-item{
         border: solid 2px green;
     } */

       .header-principal-item h4{
         
           text-align: center;
           /* border: solid 2px blue; */
           margin-top: 1px;
         
       }

       .search-container form{
         
           width: 80%;
           display: flex;
           justify-content: center;
           /* border: solid 2px blue; */
           background-color: #EAC926;
       }

       .search-container form button{
           width: 15%;
           height: 30px;
       }

       .search-container form input{
           width:80%;
           height: 30px;
       }
       
        .site-navbar{
            display: none;
            }

        .nav-bar{
            display: none;
        }  
        
        .section1-producto-precio-dto{
            display: flex;
            border-top: solid 1px grey;
            
        
        }

        .section1-producto{
            background-color: #fff;
            border: solid 6px gainsboro;
            border-radius: 5%;
            
        }

        .precio{
           
            padding-left: 10px;
           
        }

        .dto{
            color: green;
            padding-left: 20px;
        }

        .descripcion{
            padding-left: 10px;
        }

        .truck{
            
            border: solid 1px green;
            background-color: #fff; 
            border-radius: 70%;
            max-width: 300px;
            margin-left: 280px;
            /* margin-right: 15px; */
            position: relative;
            top: 10px;
            
                                         
        }

        .fa-truck{
            font-size: 11px;
            padding-left: 2px;
            color: green;
           
        }

        h1{
            text-align: center;
        }

        .copyright{
            font-size:medium;
        }

      
        .main-home{
            margin-top: 70%;
        }

        .truck{
            width: 7%;
        }

    }

    /*########################## Navegación en tablets *******************************************************/
    @media(min-width:768px){
     
     .burger-menu{
         display: none;
     }

     .header-principal{
         display: flex;
         justify-content: space-around;
         margin-bottom: -2%;
         width: 80%;
         
     }

     .home-header{
         width: 100%;
     }

     .header-principal header-principal-item {
         width: 30px;
                  
     }

     .header-principal-item img{
         width: 150px;
         margin: 12px;
     }

     .header-principal-item h4{
         font-size: small;
         color: black;                 
     }

     .nav-bar{
         display: flex;  
         height:  50px;
         justify-content: space-between;
     }

    .site-navbar{
        display: flex;   
       
    }

    .left-navbar{
        display: flex;
        justify-content: space-around;
        
           }

   
    .site-navbar ul{
        display: flex;
        justify-content: space-around;
       
    }

    .site-navbar nav ul li{
        margin:  7px; 
        }

   .site-navbar nav ul li a{
       
        font-size: 11px;
        text-decoration: none;
        font-weight: bold;            
    }

    .site-navbar li{
        list-style: none;
        margin: 0;
        padding: 0;
        
    }
        
        
     .principal{
         display: flex;
         flex-wrap: wrap;
         
     }

     .principal div{
         width: 335px;
     }

     .principal-ofertas{
         display: flex;
         flex-wrap: wrap;
         
     }

     .principal-ofertas-item{
         width: 335px;
                
     }
    

    .search-container form{
        display: flex;
        width:max-content;
        height:60px;
        margin: 12px;
    }

    .search-container form input{
        height:25px;
    }


    .search-container form button{
        width: fit-content;
        height: 25px;
    }

    .search-container form button fa-search{
    font-size: larger;      
        
    }

    .div-principal-section1 div{
        width: 340px;
}

.div-principal-section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 5%;
}



main h1{
   text-align: center;
   
}

.section1-producto{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 10px;
    margin-bottom: 10px;
  
    
}

.section1-producto h4{
    text-align: left;

}

.section1-producto-precio-dto{
    display: flex;
    text-align: left;
    border-top: solid 1px grey;  
   
}

.truck{
    border: solid 1px green;
    max-width: 25px;
    border-radius: 50%;
    margin-left: 280px;
    position: relative;
    top: 10px;
    background-color: #fff;
   
}

.dto{
   
    margin-left: 6%;
    color: green;
}

.section1-producto-precio-dto precio{
    flex-grow: 0.3;
    
}

.section1-producto-precio-dto dto{
    flex-grow: 0.7;
}

 .section1-producto .fa-truck{

   color: green;
   
}



/* ************Muestra la descripción del producto cuando se pasa el puntero por encima************* */
.descripcion{
    color: #fff;
    transition: all 450ms;
}

.descripcion:hover{
    color: black;

}
/* ************************************************************************************************** */

/* ******Muestra una sombra alrededor de la imagen cuando se pasa el puntero por encima de ella******** */
.section1-producto img{
   
   transition: all 450ms;
}

.section1-producto img:hover{
   
    box-shadow: 5px 5px 20px 5px #095484;
}
/* ********************************************************************************************************** */

/* ***********************************Rota 90 grados el camioncito hacia arriba************************* */
.fa-truck{
    transition: all 450ms;
}

.fa-truck:hover{
    transform: rotateZ(-90deg);
}
/* **************************************************************************************************************** */

.register-main{
    width: 50%;
}


.basado-ultima-visita{
    padding-top: 10%;
}

.home-header .div-banner{
     height: 140px;
   
}


/* Centra el formulario de registro y de logeo */
.register-main, .login-main{
    margin: 0 auto;
}

/* Aumenta el espacio entre el footer y el main */
footer{
    margin-top: 5%;
}

.main-home{
    margin-top: 15%;
    
}




}

 

    /* Navegación en desktop *************************************************************/
    @media(min-width:992px){
        /* .delivery, main{
            box-shadow: 0px 0px 10px rgb(100, 100, 100);
        } */

        /* .site-navbar{
            display:inline;
        } */

        .burger-menu{
            display: none;
        }

.div-principal-section1 .section1-producto{
    width: 20%;
}

.div-principal-section1{
    display: flex; 
    flex-wrap: wrap;                  
        }

.section1-producto{
   background-color: #fff;                                                          
            
        }


 .section1-producto  .section1-producto-precio-dto{
         /* display: flex;
            text-align: left; */
            width: auto;
            border-top: solid 1px grey;  
           
        }



.truck{
    margin-left: 170px;
    margin-left: 125px;

}

.descripcion{
    padding-left: 10px;
}

.precio{
    padding-left: 10px;
}

.footer-c i{
    transition: all 450ms;
}

.footer-c i:hover{
    color: red;
}


    }

/*********************************************Formulario inicio de sesión****************************** */

.login-main{
    background-color: #ebebeb;
    width: 50%;
}

.login-main .testbox-form-login form h2{
    text-align: center;
}

main form{
     background-color: #ebebeb ;
}

.testbox-form-login{
    border-style: groove;
    margin-top: 55%;
    margin-bottom: 10%;
   
}

.form p label{
    color: red;
    font-family: 'Times New Roman', Times, serif;
   padding-left: 10px;

}


html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    }
    h1 {
    margin: 15px 0;
    font-weight: 400;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    border-style: ridge;
    width: auto;
    margin-top: 50%;
    }

    form {
    width: 100%;
    padding: 20px;
    background: #fff;
    
    }
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    textarea {
    width: calc(100% - 6px);
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    .item:hover p, .item:hover i {
    color: #095484;
    }
    input:hover{
    box-shadow: 0 0 5px 0 #095484;
    }
    .preferred-metod label {
    display: block;
    margin: 5px 0;
    }
    .preferred-metod:hover input {
    box-shadow: none;
    }
    .preferred-metod-item input, .preferred-metod-item span {
    width: auto;
    vertical-align: middle;
    }
    .preferred-metod-item input {
    margin: 0 5px 0 0;
    }
    /* input[type="date"]::-webkit-inner-spin-button {
    display: none;
    } */
    /* .item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
    } */
    .item i {
    right: 1%;
    top: 30px;
    z-index: 1;
    }
    /* ubica el calendario a la derecha del campo date */
    input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 20px;
    right: 0;
    z-index: 2;
    opacity: 1;
    cursor: pointer;
    }
    .btn-block {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-around;
   
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;      
    /* -webkit-border-radius: 5px;  */
    /* -moz-border-radius: 5px;  */
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    /* cursor: pointer; */
    }
    button:hover {
    background-color: #0022AA;
    }
    .testbox h2{
        text-align: center;
    }

    /* .nom-apellido{
        display: flex;
        justify-content: space-around;
    } */
  
    /* Muestra los campos input en amarillo */
    /* form input:required{
        border: solid 2px yellow;
    } */


   


    /*Si el valor que el usuario escribe es valido, obtendra un color verde*/
    form input[type="text"]:required:valid{
        border:3px solid green;
    }

    /*Si el valor ingresado no es válido, el color sera rojo*/
    form input[type="text"]:focus:required:invalid{
    border:3px solid red;
    }

     /*Si el valor que el usuario escribe es valido, obtendra un color verde*/
     form input[type="email"]:required:valid{
        border:3px solid green;
    }

    /*Si el valor ingresado no es válido, el color sera rojo*/
    form input[type="email"]:focus:required:invalid{
    border:2px solid red;
        }
    
    

    /* **************FORMULARIO DE REGISTRO*************************** */
